In [1]:
# int()
# float()
# str()
# list()
# tuple()
# set()
# bool()
# dict()
# frozenset()
# complex()

In [5]:
a="10"
b="20"

In [6]:
print(a)

10

In [7]:
a

'10'

In [8]:
a+b

'1020'

In [10]:
print(a,type(a))

10 <class 'str'>

In [11]:
c=int(a)
print(c,type(c))

10 <class 'int'>

In [12]:
c+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
d=int(b)
print(d,type(d))

20 <class 'int'>

In [14]:
c+d

30

In [15]:
int(a)+int(b)

30

In [17]:
type(int(a+b))

int

In [23]:
c=a+b
print(c,type(c))

1020 <class 'str'>

In [25]:
e=int(a+b)
print(e,type(e))

1020 <class 'int'>

In [27]:
# int to float,str,bool,complex  # these are not convertible into collection kind of datatype like list tuple set dictionary frozenset

In [28]:
a=10
print(a,type(a))

10 <class 'int'>

In [31]:
# int to str
b=str(a)
print(b,type(b))

10 <class 'str'>

In [32]:
#int to float
c=float(a)
print(c,type(c))

10.0 <class 'float'>

In [34]:
#int to complex
d=complex(a)
print(d,id(d))

(10+0j) 2071717655088

In [35]:
#int to bool
e=bool(a)
print(e,type(e))

True <class 'bool'>

In [36]:
a=10

In [37]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [38]:
b=[1,2,3]

dir(b)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
# int to list
f=list(a)
print(f)

TypeError: 'int' object is not iterable

In [44]:
# float()
a=10.99
print(a,type(a))

10.99 <class 'float'>

In [57]:
a="krishna"
b=list(a)
print(b)

['k', 'r', 'i', 's', 'h', 'n', 'a']

In [50]:
str(b)

['[', "'", 'k', "'", ',', ' ', "'", 'r', "'", ',', ' ', "'", 'i', "'", ',', ' ', "'", 's', "'", ',', ' ', "'", 'h', "'", ',', ' ', "'", 'n', "'", ',', ' ', "'", 'a', "'", ']']

In [52]:
a=10

In [54]:
print(float(a))

10.0

In [55]:
b=10.0
int(b)

10

In [59]:
a=10.0
b=str(a)
b

'10.0'

In [61]:
int(float(b))

10

In [62]:
int("10")

10

In [63]:
a=[1,2,3,4,5]

In [64]:
set(a)

{1, 2, 3, 4, 5}

In [65]:
tuple(a)

(1, 2, 3, 4, 5)

In [66]:
frozenset(a)

frozenset({1, 2, 3, 4, 5})

In [67]:
dict(a)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [68]:
set([1,2,3,4,5,6,1,2,1,11])

{1, 2, 3, 4, 5, 6, 11}

In [70]:
a={1:'krishna',2:'kumar'}

In [71]:
print(a)

{1: 'krishna', 2: 'kumar'}

In [72]:
list(a)

[1, 2]

In [73]:
set(a)

{1, 2}