In [1]:
a=[10,10.0,"string10"]

In [2]:
print(a)

[10, 10.0, 'string10']

In [15]:
# List constructor is list()

# List literal is []

# List is a set of sequence of elements

# List is mutable

# List support indexing and slicing 

#list support concatination 

# it has multiple methods

In [6]:
a=list()
print(a)
print(type(a))

[]
<class 'list'>

In [10]:
bool(list(""))

False

In [9]:
a=[""]
bool(a)

True

In [11]:
c=[]
print(type(c))  #<class list>
print(c)      #[]

<class 'list'>
[]

In [17]:
a=["krishna","kumar","mohit",10,20,10.22]

In [18]:
a[0]

'krishna'

In [20]:
a[1:3]

['kumar', 'mohit']

In [23]:
a[0:]

['krishna', 'kumar', 'mohit', 10, 20, 10.22]

In [27]:
a[::-2]

[10.22, 10, 'kumar']

In [30]:
print(a)
print(id(a))

['krishna', 'kumar', 'mohit', 10, 20, 10.22]
1605366581184

In [31]:
b=["krishna"]
print(b)
print(id(b))

['krishna']
1605343961600

In [32]:
c=a+b
print(c,id(c))

['krishna', 'kumar', 'mohit', 10, 20, 10.22, 'krishna'] 1605367118528

In [33]:
a=10
print(id(10))

140704359904328

In [34]:
c=10
print(id(c))

140704359904328

In [35]:
d=10
print(id(d))

140704359904328

In [37]:
d=30
id(d)

140704359904968

In [46]:
a=[10,2,3,4,5,6]
print(id(a))

1605343959808

In [47]:
a.append(20)

In [48]:
print(a,id(a))

[10, 2, 3, 4, 5, 6, 20] 1605343959808

In [53]:
a=tuple()
for i in range(10):
    a=a+(i,)
    print(a)
    print(id(a))

(0,)
1605367929184
(0, 1)
1605372103744
(0, 1, 2)
1605372327680
(0, 1, 2, 3)
1605372450176
(0, 1, 2, 3, 4)
1605372450896
(0, 1, 2, 3, 4, 5)
1605372275072
(0, 1, 2, 3, 4, 5, 6)
1605372275168
(0, 1, 2, 3, 4, 5, 6, 7)
1605368956608
(0, 1, 2, 3, 4, 5, 6, 7, 8)
1605368956736
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
1605372435008

In [57]:
b=[i for i in range(10)]
# for i in range(10):
    
#     b.append(i)
#     print(b)
#     print(id(b))

In [58]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
a=input("enter name: ")

In [60]:
a

'krishna kumar prajapti'

In [61]:
a.split()

['krishna', 'kumar', 'prajapti']

In [72]:
def initail(arg):
    cont=""
    for i in arg.split():
        cont=cont+i[0]
    print(cont)

In [74]:
initail("krishna mohan roy")

kmr

In [1]:
# array:  A collection which contain similar datatypes is called array.

In [12]:
a=[1,2,3,4,5,6,7,8,9,0,"krishna"]

In [3]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [4]:
type(a)

list

In [5]:
import array

In [11]:
b=array.array("I",[1,2,3,4,5,6,7,8,9,0,"krishna"])

TypeError: 'str' object cannot be interpreted as an integer

In [8]:
type(b)

array.array

In [9]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [10]:
print(type(a))

<class 'list'>

In [15]:
id(a[0])

140720977933096

In [17]:
c=[id(a[0]),id(a[1]),id(a[2]),id(a[3]),id(a[4]),id(a[5]),id(a[6]),id(a[7]),id(a[8]),id(a[9]),id(a[10])]

In [18]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'krishna']

In [20]:
print(c)

[140720977933096, 140720977933128, 140720977933160, 140720977933192, 140720977933224, 140720977933256, 140720977933288, 140720977933320, 140720977933352, 140720977933064, 2340071276848]

In [22]:
print(b)

array('I', [1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [23]:
pip install numpy

Requirement already satisfied: numpy in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (1.24.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
import numpy as np

In [37]:
d=np.array([1,2,3,4,5,6,7,8,9,"10"],dtype=np.int16)

In [38]:
print(d)

[ 1  2  3  4  5  6  7  8  9 10]

In [39]:
# > list is not an array
# > to create array in python we use either numpy package(third party package) or python array module

In [40]:
#nesting

In [45]:
g=[1,2,3,[4,3,4,"krishna",5]]

In [48]:
h=g[3]
print(h)

[4, 3, 4, 'krishna', 5]

In [50]:
i=h[3]
print(i)

krishna

In [51]:
i[5]

'n'

In [52]:
g[3][3][5]

'n'

In [55]:
j=[]
print(j.append(1))

None

In [56]:
print(j)

[1]

In [57]:
j.append(10.0)

In [58]:
print(j)

[1, 10.0]

In [59]:
j.append("krishna")

In [60]:
print(j)

[1, 10.0, 'krishna']

In [61]:
j.append([1,2,3,4,5,6])

In [62]:
print(j)

[1, 10.0, 'krishna', [1, 2, 3, 4, 5, 6]]

In [63]:
j.append(1,20)

TypeError: list.append() takes exactly one argument (2 given)

In [64]:
j.extend(1)

TypeError: 'int' object is not iterable

In [65]:
j.extend(10.0)

TypeError: 'float' object is not iterable

In [66]:
j.extend("krishna")

In [67]:
print(j)

[1, 10.0, 'krishna', [1, 2, 3, 4, 5, 6], 'k', 'r', 'i', 's', 'h', 'n', 'a']

In [68]:
j.append([1,2,3,4])

In [72]:
j.extend([1,2,3,4])

In [73]:
print(j)

[1, 10.0, 'krishna', [1, 2, 3, 4, 5, 6], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [92]:
j=[1, 10.0, 'krishna', [1, 2, 3, 4, 5, 6], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4, 'krishna', 'krishna', 'krishna', 'krishna']
j.extend(["krishna"])

In [99]:
print(j.index("krishna"))

14

In [108]:
j.remove("krishna")

ValueError: list.remove(x): x not in list

In [107]:
print(j)

[1, 10.0, [1, 2, 3, 4, 5, 6], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [111]:
print(j.count("k"))

1

In [112]:
j.insert(1,"krishna")

In [113]:
print(j)

[1, 'krishna', 10.0, [1, 2, 3, 4, 5, 6], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [115]:
h=j[3]

In [116]:
h.insert(1,"krishna")

In [118]:
print(j)

[1, 'krishna', 10.0, [1, 'krishna', 2, 3, 4, 5, 6], 'k', 'r', 'i', 's', 'h', 'n', 'a', 1, 2, 3, 4]

In [119]:
j[3].insert(1,"krishna")

In [120]:
import numpy as np

In [125]:
cont=[]
for i in j:
    i=[i]
    cont.extend(i)
cont

[1,
 'krishna',
 10.0,
 [1, 'krishna', 'krishna', 2, 3, 4, 5, 6],
 'k',
 'r',
 'i',
 's',
 'h',
 'n',
 'a',
 1,
 2,
 3,
 4]

In [124]:
cont

[1,
 'krishna',
 10.0,
 [1, 'krishna', 'krishna', 2, 3, 4, 5, 6],
 'k',
 'r',
 'i',
 's',
 'h',
 'n',
 'a',
 1,
 2,
 3,
 4]