In [1]:
a=[10,10.0,"string10"]

In [2]:
print(a)

[10, 10.0, 'string10']

In [15]:
# List constructor is list()

# List literal is []

# List is a set of sequence of elements

# List is mutable

# List support indexing and slicing 

#list support concatination 

# it has multiple methods

In [6]:
a=list()
print(a)
print(type(a))

[]
<class 'list'>

In [10]:
bool(list(""))

False

In [9]:
a=[""]
bool(a)

True

In [11]:
c=[]
print(type(c))  #<class list>
print(c)      #[]

<class 'list'>
[]

In [17]:
a=["krishna","kumar","mohit",10,20,10.22]

In [18]:
a[0]

'krishna'

In [20]:
a[1:3]

['kumar', 'mohit']

In [23]:
a[0:]

['krishna', 'kumar', 'mohit', 10, 20, 10.22]

In [27]:
a[::-2]

[10.22, 10, 'kumar']

In [30]:
print(a)
print(id(a))

['krishna', 'kumar', 'mohit', 10, 20, 10.22]
1605366581184

In [31]:
b=["krishna"]
print(b)
print(id(b))

['krishna']
1605343961600

In [32]:
c=a+b
print(c,id(c))

['krishna', 'kumar', 'mohit', 10, 20, 10.22, 'krishna'] 1605367118528

In [33]:
a=10
print(id(10))

140704359904328

In [34]:
c=10
print(id(c))

140704359904328

In [35]:
d=10
print(id(d))

140704359904328

In [37]:
d=30
id(d)

140704359904968

In [46]:
a=[10,2,3,4,5,6]
print(id(a))

1605343959808

In [47]:
a.append(20)

In [48]:
print(a,id(a))

[10, 2, 3, 4, 5, 6, 20] 1605343959808

In [53]:
a=tuple()
for i in range(10):
    a=a+(i,)
    print(a)
    print(id(a))

(0,)
1605367929184
(0, 1)
1605372103744
(0, 1, 2)
1605372327680
(0, 1, 2, 3)
1605372450176
(0, 1, 2, 3, 4)
1605372450896
(0, 1, 2, 3, 4, 5)
1605372275072
(0, 1, 2, 3, 4, 5, 6)
1605372275168
(0, 1, 2, 3, 4, 5, 6, 7)
1605368956608
(0, 1, 2, 3, 4, 5, 6, 7, 8)
1605368956736
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
1605372435008

In [57]:
b=[i for i in range(10)]
# for i in range(10):
    
#     b.append(i)
#     print(b)
#     print(id(b))

In [58]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
a=input("enter name: ")

In [60]:
a

'krishna kumar prajapti'

In [61]:
a.split()

['krishna', 'kumar', 'prajapti']

In [72]:
def initail(arg):
    cont=""
    for i in arg.split():
        cont=cont+i[0]
    print(cont)

In [74]:
initail("krishna mohan roy")

kmr