In [2]:
#set

# set constructor is set()
# set has not literal 
# set is mutable
# set is unordered set of sequence of elemnts.
# set doesnot support indexing and slicing 
# set support hashing table and hashable data type
# set doesnot support concatination 
# set doesnot support nesting

In [4]:
a=set()
print(a,type(a))

set() <class 'set'>

In [24]:
# set is unordered set of sequence of elemnts.

a={1,1,1,2,2,2,2,3,4,5,6,(1,2,3,4),(1,2,3,4)}

In [25]:
print(a)

{(1, 2, 3, 4), 1, 2, 3, 4, 5, 6}

In [15]:
a={2,2,2,3,4,5,6,"krishna"}

In [16]:
print(a)

{2, 3, 4, 5, 6, 'krishna'}

In [19]:
b=[1,1,1,2,2,2,2,3,4,5,6,(1,2,3,4),(1,2,3,4)]

In [21]:
print(b[0],id(b[0]))
print(b[0],id(b[1]))

1 140736110654248
1 140736110654248

In [22]:
print(b[0],id(b[-1]))
print(b[0],id(b[-2]))

1 2352941188256
1 2352941188256

In [23]:
a=(1,2,3,4)
print(id(a))
b=(1,2,3,4)
print(id(b))

2352941048640
2352941193856

In [1]:
{1,2,3,4}+{2,4,5}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [2]:
# mehods of sets

In [3]:
a={1,2,3,4,5}
b={5,6,7,8,9}

In [4]:
# intersection()
a.intersection(b)

{5}

In [5]:
#union()

a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
[1,2,3,4]-[2,3,4,5]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [7]:
[1,2,3,4]+[2,3,4,5]

[1, 2, 3, 4, 2, 3, 4, 5]

In [8]:
a

{1, 2, 3, 4, 5}

In [9]:
b

{5, 6, 7, 8, 9}

In [10]:
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [11]:
a-b

{1, 2, 3, 4}

In [13]:
b

{5, 6, 7, 8, 9}

In [14]:
{1, 2, 3, 4, 5}-{5, 6, 7, 8, 9}

{1, 2, 3, 4}

In [15]:
{5, 6, 7, 8, 9}-{1, 2, 3, 4, 5}

{6, 7, 8, 9}

In [16]:
a-b

{1, 2, 3, 4}

In [23]:
#differnce()
print(a.difference(b))

{1, 2, 3, 4}

In [19]:
# differnce_update()
print(a)

{1, 2, 3, 4, 5}

In [22]:
print(a.difference_update(b))

None

In [21]:
print(a)

{1, 2, 3, 4}

In [24]:
a

{1, 2, 3, 4}

In [25]:
b

{5, 6, 7, 8, 9}

In [30]:
a.clear()

In [31]:
print(a)

set()

In [32]:
a

set()

In [33]:
b

{5, 6, 7, 8, 9}

In [34]:
print(b)

{5, 6, 7, 8, 9}

In [42]:
f=b.copy()

In [43]:
print(f,id(f))

{5, 6, 7, 8, 9} 2704601009280

In [44]:
print(b,id(b))

{5, 6, 7, 8, 9} 2704601006592

In [50]:
krishna={1,2}
print(krishna,id(krishna))

{1, 2} 2704601013984

In [51]:
rohan={1,2}
print(rohan,id(rohan))

{1, 2} 2704601013312

In [52]:
a=[1,2]
print(id(a))

2704601051072

In [53]:
b=[1,2]
print(id(b))

2704601176512

In [54]:
a={1,2,3}

In [55]:
a.add(10)

In [56]:
print(a)

{10, 1, 2, 3}

In [57]:
a.update([1,2,3,4,5])

In [58]:
print(a)

{1, 2, 3, 4, 5, 10}

In [59]:
a.update({67,7,8,8,9})

In [60]:
print(a)

{1, 2, 3, 4, 5, 67, 7, 8, 9, 10}

In [61]:
a.update((i for i in range(21,30)))

In [62]:
a

{1, 2, 3, 4, 5, 7, 8, 9, 10, 21, 22, 23, 24, 25, 26, 27, 28, 29, 67}

In [64]:
[i for i in range(21,30)]

[21, 22, 23, 24, 25, 26, 27, 28, 29]

In [65]:
a.update("krishna")

In [67]:
print(a)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 'i', 's', 21, 22, 23, 24, 25, 26, 27, 28, 29, 'h', 'n', 67, 'a', 'r', 'k'}

In [74]:
a.discard('k')

In [69]:
print(a)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 'i', 's', 21, 22, 23, 24, 25, 26, 27, 28, 29, 'h', 'n', 67, 'a', 'r'}

In [73]:
a.remove('r')

KeyError: 'r'

In [72]:
print(a)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 'i', 's', 21, 22, 23, 24, 25, 26, 27, 28, 29, 'h', 'n', 67, 'a'}

In [75]:
a.pop()

1

In [76]:
print(a)

{2, 3, 4, 5, 7, 8, 9, 10, 'i', 's', 21, 22, 23, 24, 25, 26, 27, 28, 29, 'h', 'n', 67, 'a'}

In [78]:
a={1,2,3,4,6}
b={6,7,8,9}
a.isdisjoint(b)

False

In [79]:
Sunil={1,2,3,4}
krishna={1}
krishna.issubset(Sunil)

True

In [80]:
Sunil={1,2,3,4}
krishna={1}
Sunil.issubset(krishna)

False

In [82]:
Sunil={1,2,3,4}
krishna={1}
Sunil.issuperset(krishna)

True

In [83]:
a

{1, 2, 3, 4, 6}

In [85]:
b.intersection(a)

{6}

In [86]:
print(b)

{8, 9, 6, 7}

In [87]:
print(a)

{1, 2, 3, 4, 6}

In [88]:
a.intersection_update(b)

In [89]:
print(a)

{6}

In [90]:
print(b)

{8, 9, 6, 7}

In [91]:
a={1,2,3,4,5}
b={5,6,7,8,9}
a.symmetric_difference(b)

{1, 2, 3, 4, 6, 7, 8, 9}

In [92]:
print(a)

{1, 2, 3, 4, 5}

In [93]:
print(b)

{5, 6, 7, 8, 9}

In [94]:
a.symmetric_difference_update(b)

In [95]:
print(a)

{1, 2, 3, 4, 6, 7, 8, 9}

In [96]:
print(b)

{5, 6, 7, 8, 9}

In [97]:
a.issubset(b)

False