In [1]:
print("hello world")

hello world

In [129]:
class ATM:
    def __init__(self): # constructor 
        # attributes
        self.__pin="0000"
        self.__balance=10000
    
    # feature/method/function
    def __balance_enquiry(self):
        print(f"Your balance is : {self.__balance}")
    
    def withdrawal(self):
        print("welcome to withdrawal section")

In [130]:
krishna=ATM()

In [131]:
krishna.balance=20000

In [132]:
krishna.pin="9807"

In [133]:
krishna.balance_enquiry()

AttributeError: 'ATM' object has no attribute 'balance_enquiry'

In [141]:
krishna._ATM__balance_enquiry()

Your balance is : 10000

In [134]:
krishna.withdrawal()

welcome to withdrawal section

In [135]:
archana=ATM()

In [136]:
archana.balance=50000

In [137]:
archana.pin="1234"

In [138]:
archana.balance_enquiry()

AttributeError: 'ATM' object has no attribute 'balance_enquiry'

In [139]:
archana.withdrawal()

welcome to withdrawal section

In [140]:
archana.balance

50000

In [106]:
archana.pin

'1234'

In [107]:
krishna.balance

20000

In [108]:
krishna.pin

'9807'

In [109]:
yogender=ATM()

In [110]:
yogender.balance=25000

In [111]:
yogender.pin="4567"

In [112]:
krishna.balance

20000

In [113]:
krishna.balance_enquiry()

Your balance is : 10000

In [114]:
yogender.balance_enquiry()

Your balance is : 10000

In [115]:
archana.balance_enquiry()

Your balance is : 10000

In [116]:
archana.

SyntaxError: invalid syntax (3219306869.py, line 1)

In [2]:
class ATM:
    def __init__(self): # constructor 
        # attributes
        self.__pin="0000"
        self.__balance=10000
        
    # feature/method/function
    def __balance_enquiry(self):
        user_pin=input("Enter your 4 digit atm pin:")
        if user_pin==self.__pin:
            print(f"Your balance is : {self.__balance}")
        else:
            print("kindly enter a valid pin")
    
    def withdrawal(self):
        withdrawal_balance=eval(input("Enter your withdrawal amount:"))
        if withdrawal_balance<=self.__balance:
            user_pin=input("Enter your 4 digit atm pin:")
            if user_pin==self.__pin:
                print("Kindly collect your cash:",withdrawal_balance)
                self.__balance=self.__balance-withdrawal_balance
            else:
                print("Kindly enter a valid pin:")
        else:
            print("You hava insufficient balance")

In [3]:
krishna=ATM()

In [4]:
krishna.balance_enquiry()

AttributeError: 'ATM' object has no attribute 'balance_enquiry'

In [ ]:
krishna.withdrawal()

Enter your withdrawal amount: 10001

You hava insufficient balance

In [ ]:
krishna.withdrawal()

Enter your withdrawal amount: 5203.54545
Enter your 4 digit atm pin: 0000

Kindly collect your cash: 5203.54545

In [5]:
krishna._ATM__balance

10000

In [6]:
krishna._ATM__balance

10000

In [7]:
krishna.__balance=30000

In [8]:
krishna.__balance

30000

In [11]:
krishna._ATM__balance_enquiry()

Your balance is : 10000

In [127]:
krishna._ATM__balance=40000

In [128]:
krishna.balance_enquiry()

Your balance is : 40000